{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">

</head>
<body>
{% block div %}

    <h1>任务管理</h1>
    <h5>示例1</h5>
    <input id='btn1' class="btn btn-primary" value="提交1">

    <h5>示例2</h5>
    <input type="text" placeholder="姓名" id='txtname'>
    <input type="text" placeholder="年龄" id='txtage'>
    <input id='btn2' class="btn btn-primary" value="提交2">


    <h5>示例3</h5>
    <form action="" id="form_all">
        <input type="text" placeholder="姓名" name='name'>
        <input type="text" placeholder="年龄" name='age'>
        <input type="text" placeholder="性别" name='gender'>
        <input type="text" placeholder="email" name='email'>
    </form>
    <input id='btn3' class="btn btn-primary" value="提交3">
{% endblock %}
{% block js %}
    <script src="{% static 'jquery/jquery.3.6.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            {#页面加载完成后代码自动执行#}
            btn1BtnEvent();
            btn2BtnEvent();
            btn3BtnEvent();
        })

        function btn1BtnEvent() {
            {#添加点击事件函数#}
            $("#btn1").click(function () {
                $.ajax({
                    url: '/test/ajax/',
                    type: 'post',
                    data: {
                        n1: 1,
                        n2: 2
                    },
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res.status)
                        console.log(res.data)

                    }
                })
            })

        }

        function btn2BtnEvent() {
            {#添加点击事件函数#}
            $("#btn2").click(function () {
                $.ajax({
                    url: '/test/ajax/',
                    type: 'post',
                    data: {
                        n1: $("#txtname").val(),
                        n2: $("#txtage").val()
                    },
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res.status)
                        console.log(res.data)

                    }
                })
            })

        }

        function btn3BtnEvent() {
            {#添加点击事件函数#}
            $("#btn3").click(function () {
                $.ajax({
                    url: '/test/ajax/',
                    type: 'post',
                    data: $("#form_all").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res.status)
                        console.log(res.data)

                    }
                })
            })

        }
    </script>
{% endblock %}
</body>
</html>
