{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_add.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" background: rgb(73 142 181);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">员工管理系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/list/">管理员账户</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/depart/list/">部门管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list/">用户管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pretty/list/">靓号列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/task/list/">任务管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order/list/">订单管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart/list/">数据统计</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        上传
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/depart/list/">excel上传</a></li>
                        <li><a class="nav-link" href="/upload/form/">form上传</a></li>
                        <li><a class="nav-link" href="/upload/modelform/">ModelForm上传</a></li>
                        <li><a class="dropdown-item" href="/city/list/">城市列表</a></li>
                    </ul>
                </li>
                {% if request.session.info.name %}
                    <li class="nav-item" style="padding-left:800px">
                        <span class="nav-link">{{ request.session.info.name }}</span>
                    </li>
                {% else %}
                    <li class="nav-item" style="padding-left:1000px">
                        <a href="/login/" class="nav-link">登录</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        设置
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/upload/list/">文件上传</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout/">注销</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>


{% block div %}{% endblock %}

{% block js %}

{% endblock %}
<script src="{% static 'jquery/jquery.3.6.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>
</html>